
header, footer {
    background: #3899ef;
}
header *, footer * {
    color: white !important;
}

header {
	border-top: 15px solid #0a84f1;
}
header form {
    padding: 5px 0;
}
header .cart, header .purchase, header .logo {
    padding: 5px 15px;
}
select, select *,  input {
    color: black !important;
    border: none;
    border-radius: 0;
}

select {
    background: #ffcd6d
}

ul {
	padding: 0;
	margin: 0;
}

footer {
	border-top: 15px solid #abf;
	box-shadow: 0 0 25px #cdcdcd;
	padding-top: 25px;
	
}

footer li:not(:first-child) {
	padding-left: 30px;
}

main {
	padding-top: 30px;
	padding-bottom: 30px;
	background: #ebebeb;
}

main > .container {
    background: white;
    box-shadow: 0 0 25px #cdcdcd;
}
.logo {
    font-size: 1.4rem;
    font-weight: 700;
}
.cart:hover .cart-info {
	position: absolute;
	left: 0;
	z-index: 999;


	display: block;
    min-width: 200px;
    width: auto;
    padding: 15px;
    font-size:1.rem;
    color: #f84 !important;
	box-shadow: 0 0 15px #aaa;
	
	
	background: white;

}

.cart-info *{
    color: black !important;
}

.topnav {
    background: #b4d7f5;
    box-shadow: 0 5px 25px #efefef;
    position: relative;
}

.topnav * {
	color: white !important;
	font-size: 0.9rem;
	font-weight: 500;
	text-shadow: 0 2px 2px #abf;
}

.topnav li:not(:first-child) {
	border-top: 1px solid white;
}

.copyright {
	padding: 5px;
	font-weight: 600;
	color: #1f2c99 !important;
	background:#0a84f1;
	border-bottom: 15px solid #0664b8;
}

.item-container {
	padding: 15px;
}
.item-container > :not(:first-child) {
	padding: 0 30px;
}
.item-image-container {
	width: 50%;
	margin: auto;
}



.item-price, .cart-item-total-price {
	font-size: 2em;
	font-weight: 400;
	color: red;
}

.item-category {
	text-transform:uppercase;
	font-style: italic;
	color: #bbb7b7;
	font-weight:700;
}

.item-description {
	color: #00f;
}

.pagination {
	padding: 15px;
}
.pagination a {
	display: block;
	width: 40px;
	height: 40px;
	font-weight: 600;
	font-size: 1.3rem;
	text-align: center;
	
}

.pagination a:hover {
	background-color: #ffc38d;
}

main .container {
	background-color: white;
	padding: 15px 30px;
}

.cart-item-container {
	margin-bottom: 30px;
}
.cart-item-quantity a {
	background-color: #ffc38d;
	color: white !important;
	font-weight: 600;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
}
.cart-item-quantity {
	margin: 5px 0;
}
.cart-item-quantity span {
    margin: 0 15px;
}

.item-remove a {
	background-color: #ffc38d;
	color: white !important;
	padding: 5px;
	width: 120px;
	text-align: center;
	margin-top: 5px;
	border-radius: 5px;
}

.cart-grant-total, div.button.purchase {
	margin-bottom: 30px;
	text-align: right;
	padding: 5px;
	font-size: 2rem;
	font-weight :600;
}
.cart-grant-total {
    color: red;
}
div.button.purchase a {
    background-color: #ffc38d;
    color: white !important;
    padding: 5px 30px;
    border-radius : 5px;

}

.add-cart {
	margin: 10px 0;
	background-color: #ffc38d;
	width: fit-content;
    text-align: center;
    padding: 0 15px;
}

.buy-now {
	width: fit-content;
	margin: 10px 0;
	padding: 0 15px;
	background-color: #ffc38d;
}

.add-cart *, .buy-now * {
	font-weight: 500;
	font-size: 1.3rem;
	color: white !important;
	
}

#ig546.container {
	background: none;
}

.cart-no-item, .search-error {
    box-shadow: 0 0 25 white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 200px;
}

.message {
    padding: 15px;
}


.cart-no-item .button {
	background-color: #ffc38d;
	color: white !important;
	padding: 5px;
	border-radius: 5px;
	font-size: 1.2rem;
	display: inline;
}
